<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Encipher</title>

  <!--Google Fonts-->

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">

  <!--CSS Style Sheet-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/style.css">

  <!--FontAwsome CDN-->

  <script src="https://kit.fontawesome.com/590a513015.js" crossorigin="anonymous"></script>

  <!--Bootstrape Scripts-->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom Script -->
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    
